<!DOCTYPE html>
    <html>
    <head>
        <title>Hospital | @ViewBag.Title</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </head>
    <body>
        @RenderBody()
    </body>
</html>
