@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Главная";
}

<form class="Form" method="post">
    <input class="btn btn-primary" value="Загрузить карточку пациента" type="submit" formaction="/Client/LoadPatientCard" />
</form>